{% extends "layout.html" %}

{% block title %} Trabajadores {% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-10 col-lg-10 mx-auto bg-light  py-3 px-3 shadow rounded">
            <div class="d-flex justify-content-around align-items-center" style="text-align: center">
                <h1>Trabajadores</h1>
                <a class="btn btn-primary" href="{% url 'trabajador.create' %}">Ingresar un empleado nuevo </a>
            </div>

           <div class="list-group">
                <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Direccion</th>
                          <th scope="col">Email</th>
                          <th scope="col">Telefono</th>
                          <th scope="col">DPI</th>
                          <th style="text-align: center;" scope="col">Opcion</th>
                        </tr>
                      </thead>
                    <hr>
                        <tbody>
                       {% for trabajador in object_list %}
                        <tr>
                          <th scope="row">{{trabajador.id}}</th>
                          <td>{{trabajador.nombre}}</td>
                          <td>{{trabajador.direccion}}</td>
                          <td>{{trabajador.email}}</td>
                          <td>{{trabajador.telefono}}</td>
                          <td>{{trabajador.dpi}}</td>

                          <td style="text-align: center;">
                              <a class="btn btn-info" href="{% url 'trabajador.edit' trabajador.id %}">Editar</a>
                              <a class="btn btn-danger" href="{% url 'trabajador.delete' trabajador.id %}">Eliminar</a>
                          </td>
                        </tr>
                      {% endfor %}
                       </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}